<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="ConnectionName" value="testclient1"/>
    <!--<add key="MicrosoftAppId" value="6758c16c-c1e1-4c6d-9374-4bf152dc325e" />
    <add key="MicrosoftAppPassword" value="raetsearchbot" />-->

    <add key="MicrosoftAppId" value="1c1c2d32-c26c-47ce-8103-4f42d6828c6f" />
    <add key="MicrosoftAppPassword" value="twCIMPZ753$rxnjzBF39*%)" />
     <add key="SubscriptionKey" value="ffaf0b5ee74a4cf2a706d2f74732dcd9"/>
    <!--Active directory settings - R2 - Begin-->
    <add key="AadInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="MasterTenant" value="youforceonedev.onmicrosoft.com"/>
    <add key="ClientId" value="5cc2c606-a3e6-4e46-9bdc-b07c231374d2"/>
    <add key="ClientSecret" value="lRhQKJOzRelCteai+i/6PF+Tluvysg5krbCcf49k5eU="/>
    <add key="idaTenant" value="08d91c31-f8a7-4dc8-8a83-88f0eba5a0fe"/>
    <add key="idaAudience" value="https://youforceonedev.onmicrosoft.com/youforceone-api"/>
    <!--Active directory settings - R2  - End-->
    <add key="HrmBaseUri" value="https://yfo-stark-test-hrmapi.azurewebsites.net" />
    <add key="CognitiveServicesTokenUri" value="https://api.cognitive.microsoft.com/sts/v1.0/issueToken"/>
    <add key="TranslatorUri" value="https://api.microsofttranslator.com/v2/Http.svc/"/>
    <add key="UIApiUrl" value="https://yfo-stark-test-ui-api.azurewebsites.net/"/>
    <add key="UiAppUrl" value="https://yfo-stark-test.azurewebsites.net/"/>
    <add key="WorkFlowBaseUri" value="https://yfo-stark-test-workflowtaskservice-api.azurewebsites.net"/>
    <add key="MlmApi" value="http://rl-tstrvmiis02/MlmApi"/>
    <add key="MlmApi_Token" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL2lkZW50aXR5LnJhZXQuY29tIiwiZXhwIjoxNTMzMjE5Nzc2LCJjbGllbnRfaWQiOiIxZDc0MGIwYy01NjUwLTQ4NzAtYWNjZi00YjU1OWRkMzM0NmQiLCJqd3R0eXBlIjoic3lzdGVtIiwiYXBwIjp7ImlkIjoiYTRmMmFhODItZTJiYi00M2QwLWJhOTItNmRkZGViZTkyMGE0IiwibmFtZSI6IlZlcnp1aW1NYW5hZ2VyIn0sImF1dGh6Ijp7InBlcm1pc3Npb25zIjp7ImFsbCI6ImZhbHNlIiwidmFsdWVzIjpbIm1sbS5BY2Nlc3NDb250cmFjdCIsImhyY2JnLlZpZXdDb250cmFjdERldGFpbHMiXX0sInRlbmFudHMiOnsiYWxsIjoiZmFsc2UiLCJ2YWx1ZXMiOlsiNjQwMTk3MCJdfX19.TZR1Bx1bB2DerE-VLdB3sX67bmE1WrM-GBjcLgkYp5Y"/>

    

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.htm"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863AF14B0044DA" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Connector" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.38344" newVersion="3.16.0.38344"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.38344" newVersion="3.16.0.38344"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.11.0.0" newVersion="1.11.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder.Autofac" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.38344" newVersion="3.16.0.38344"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bot.Builder.History" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.15.2.0" newVersion="3.15.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
