<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Active directory settings - R2 - Begin-->
    <add key="AadInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="MasterTenant" value="youforceonedev.onmicrosoft.com" />
    <add key="ClientId" value="5cc2c606-a3e6-4e46-9bdc-b07c231374d2" />
    <add key="ClientSecret" value="lRhQKJOzRelCteai+i/6PF+Tluvysg5krbCcf49k5eU=" />
    <add key="idaTenant" value="08d91c31-f8a7-4dc8-8a83-88f0eba5a0fe" />
    <add key="idaAudience" value="https://youforceonedev.onmicrosoft.com/youforceone-api" />
    <!--Active directory settings - R2  - End-->
    <add key="HrmBaseUri" value="https://yfo-stark-test-hrmapi.azurewebsites.net" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>